<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :title %>

    <%= f.input :content %>

 	<li class="list-group-item">
        <div class="field">
          <%= f.label :banner_image_url %>
            <%= f.file_field :banner_image_url, class:'form-control'%>
        </div>
      </li>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
