
<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
<div class="row">
<div class="form-inputs">
  <div class="col-sm-8">

     <li class="list-group-item">
        

        <div class="field">
          <%= f.input :title, class:'form-control' %>
        </div>

        <div class="field">
          <%= f.label :content %>
          <%= f.cktext_area :content, rows: 10, class:'form-control' %>
        </div>

        <div class="list-inline text-right">

        <button type="submit" class='btn btn-primary'>Simpan</button>

        <span onclick="window.location.href='/articles'" class='btn btn-danger'>Batal</span>
        <%=if !(defined?(menu)).nil?
              if menu ='edit'
                 link_to 'Tampilkan', article, class:'btn btn-success btn-a-white'
              end
          end %> 
    </li>
  </div>
  </div>


  <div class="col-sm-4">
    <li class="list-group-item">
    <div class="field">
        <%= f.label :all_tags %>
        <%= f.text_field :all_tags, placeholder: "Tags separated with comma", class:'form-control' %>
    </div>
    <div class="field">

          <%= f.label :banner_image_url %>
           <img class= "img-responsive" style="max-height: 150px" id="img_prev" src=<%=  @article.banner_image_url || "http://nemanjakovacevic.net/wp-content/uploads/2013/07/placeholder.png" %>  alt="your image" />
           <br/>
           <label class="btn btn-primary" for="image">Upload</label>
          <%= f.file_field :banner_image_url,id:"image", class:'form-control',  onchange:"readURL(this); $('#upload-file-info').html($(this).val());", style:"display:none;" %>
          <span class='label label-info' id="upload-file-info"></span>

    </div>
   </li>
    
  </div> 

</div>

  <!-- Assume jQuery is loaded -->
    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            $('#img_prev')
              .attr('src', e.target.result)
          };

          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
  


  
    


  
<% end %>
