<div class="container content">
            <div class="panel-group">
              <h1>Articles</h1>

              <%= link_to 'New Article', new_article_path %>

                <%= will_paginate %>

                <% @articles.each do |article| %>
                  <div class="panel panel-default article" onclick="location.href='/articles/<%= article.title %>';">
                      <div>
                        <h3 class="text-center">
                          <%= link_to article.title, article %>
                        </h3>
                      </div>

                      <div>
                          <p>
                            <%= article.content.truncate(500) %>
                            <%= link_to 'continue reading', article %>
                          </p>
                      </div>
                  </div>
                <% end %>

                <%= will_paginate %>
             </div>
</div>
