<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% if notice %>
        <div class="alert alert-info" role="alert" id="notice"><%= notice %></div>
      <% end %>
      <div class="panel panel-default panel-custom">
        <div class="panel-heading">
          <ul class="list-inline" style="margin: 0px;">
            <li>
              <h4>Schedules</h4>
            </li>
            <li class="pull-right">
              <%= link_to 'New Schedule', new_schedule_path, class: 'btn btn-default btn-custom' %>
            </li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Date</th>
                  <th>Archive</th>
                  <th>Description</th>
                  <th>Approve</th>
                  <th>Subject</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @schedules.each do |schedule| %>
                  <tr>
                    <td><%= schedule.title %></td>
                    <td><%= schedule.date %></td>
                    <td><%= link_to schedule.archive.url, schedule.archive.url %></td>
                    <td><%= schedule.description %></td>
                    <td><%= schedule.approve %></td>
                    <td><%= schedule.subject.name %></td>
                    <td><%= link_to 'Show', schedule %></td>
                    <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
                    <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
